{% block layout_header_logo %}
    <div class="header-logo-col {{ flareHeaderElementCssClasses }} ">
        {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
    </div>
{% endblock %}
