/*
Header variables
==================================================
*/

// Header
$header-top-background-color-full-width: $flare-header-top-background-color-full-width !default;
$header-main-background-color-full-width: $flare-header-main-background-color-full-width !default;
$header-bot-background-color-full-width: $flare-header-bot-background-color-full-width !default;
$header-top-background-color-boxed: $flare-header-top-background-color-boxed !default;
$header-main-background-color-boxed: $flare-header-main-background-color-boxed !default;
$header-bot-background-color-boxed: $flare-header-bot-background-color-boxed !default;

// Navigation
$navigation-text-transform: $flare-header-navigation-text-transform !default;
$navigation-line-height: $flare-header-navigation-line-height !default;
$navigation-font-size: $flare-header-navigation-font-size !default;
$navigation-font-weight: $flare-header-navigation-font-weight !default;
$navigation-font-size-active: $flare-header-navigation-font-size-active !default;
$navigation-font-weight-active: $flare-header-navigation-font-weight-active !default;
$navigation-text-color: $flare-header-navigation-text-color !default;
$navigation-text-color-hover: $flare-header-navigation-text-color-hover !default;
$navigation-text-color-active: $flare-header-navigation-text-color-active !default;
$navigation-background-color: $flare-header-navigation-background-color !default;
$navigation-background-color-hover: $flare-header-navigation-background-color-hover !default;
$navigation-background-color-active: $flare-header-navigation-background-color-active !default;

// Search
$search-max-width: $flare-header-search-max-width !default;
$search-width: $flare-header-search-width !default;
$search-height: $flare-header-search-height !default;
$search-font-size: $flare-header-search-font-size !default;
$search-font-weight: $flare-header-search-font-weight !default;
$search-border-width: $flare-header-search-border-width !default;
$search-border-radius: $flare-header-search-border-radius !default;
$search-text-color: $flare-header-search-text-color !default;
$search-background-color: $flare-header-search-background-color !default;
$search-border-color: $flare-header-search-border-color !default;
$search-border-color-focus: $flare-header-search-border-color-focus !default;
$search-icon-color: $flare-header-search-icon-color !default;
$search-icon-color-hover: $flare-header-search-icon-color-hover !default;

// Actions
$header-actions-icon-color: $flare-header-actions-icon-color !default;
$header-actions-icon-color-hover: $flare-header-actions-icon-color-hover !default;

// USP bar
$header-usp-text-transform: $flare-header-usp-text-transform !default;
$header-usp-line-height: $flare-header-usp-line-height !default;
$header-usp-font-size: $flare-header-usp-font-size !default;
$header-usp-font-weight: $flare-header-usp-font-weight !default;
$header-usp-text-color: $flare-header-usp-text-color !default;
