/*
USP bar
==============================================
*/

.flare-header-usp-text {
    text-transform: $header-usp-text-transform;
    line-height: $header-usp-line-height;
    font-size: $header-usp-font-size;
    font-weight: $header-usp-font-weight;
    color: $header-usp-text-color;
}
