{% block layout_header_actions_account %}
    <div class="flare-account-menu-col {{ flareHeaderActionCssClasses }}">
        <div class="account-menu">
            {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
        </div>
    </div>
{% endblock %}
